@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
@import './colors';
@import './fonts';

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.stretcher-vertical {
    position: absolute;
    width: 100%;
    z-index: 100;
    transform: translateY(-50%);
    cursor: ns-resize;
    height: 8px;
}

.stretcher-horizontal {
    position: absolute;
    height: 100%;
    z-index: 100;
    transform: translateX(-50%);
    cursor: ew-resize;
    width: 8px;
}

.top {
    top: 0;
}

.bottom {
    top: 100%;
}

.left {
    left: 0;
}

.right {
    left: 100%;
}
