@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");
@import "./colors";
@import "./fonts";

.stretcher-vertical {
    position: absolute;
    width: 100%;
    z-index: 100;
    transform: translateY(-50%);
    cursor: ns-resize;
    height: 8px;
}

.stretcher-horizontal {
    position: absolute;
    height: 100%;
    z-index: 100;
    transform: translateX(-50%);
    cursor: ew-resize;
    width: 8px;
}

.top {
    top: 0;
}

.bottom {
    top: 100%;
}

.left {
    left: 0;
}

.right {
    left: 100%;
}

.tool {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 8px 0;
    font-family: "Roboto";
    color: $color-dark;
    background: $color-light;
    font-size: 12px;

    i {
        font-size: 16px;
        padding: 4px 0;
    }

    &:hover {
        background: $color-secondary;
    }
}