$color-primary:     #FFFFFF;
$color-secondary:   #EEEEEE;
$color-tertiary:    #DDDDDD;
$color-information: rgb(49, 116, 218);
$color-success:     #2FBF71;
$color-warning:     #ED7D3A;
$color-danger:      #A22C29;
$color-dark:        #000000;
$color-light:       #FFFFFF;