@import "./colors";
@import "./fonts";

.stretcher-vertical {
    position: absolute;
    width: 100%;
    z-index: 100;
    transform: translateY(-50%);
    cursor: ns-resize;
    height: 8px;
}

.stretcher-horizontal {
    position: absolute;
    height: 100%;
    z-index: 100;
    transform: translateX(-50%);
    cursor: ew-resize;
    width: 8px;
}

.top {
    top: 0;
}

.bottom {
    top: 100%;
}

.left {
    left: 0;
}

.right {
    left: 100%;
}

.tool {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 8px 0;
    font-family: $font-body;
    color: $color-information;
    background: $color-primary;
    font-size: 12px;

    i {
        font-size: 20px;
        padding: 4px 0;
    }

    &:hover {
        background: $color-secondary;
        color: $color-information;
    }
}