.flex
	display flex

.flex-col
	display flex
	flex-direction column

.flex-row
	display flex
	flex-direction row

.flex-tl
	display flex
	justify-content flex-start
	align-items flex-start

.flex-cc
	display flex
	justify-content center
	align-items center

.flex-br
	display flex
	justify-content flex-end
	align-items flex-end

.flex-col-tl
	display flex
	flex-direction column
	justify-content flex-start
	align-items flex-start

.flex-col-tc
	display flex
	flex-direction column
	justify-content flex-start
	align-items center

.flex-col-tr
	display flex
	flex-direction column
	justify-content flex-start
	align-items flex-end

.flex-col-cl
	display flex
	flex-direction column
	justify-content center
	align-items flex-start

.flex-col-cc
	display flex
	flex-direction column
	justify-content center
	align-items center

.flex-col-cr
	display flex
	flex-direction column
	justify-content center
	align-items flex-end

.flex-col-bl
	display flex
	flex-direction column
	justify-content flex-end
	align-items flex-start

.flex-col-bc
	display flex
	flex-direction column
	justify-content flex-end
	align-items center

.flex-col-br
	display flex
	flex-direction column
	justify-content flex-end
	align-items flex-end

.flex-row-tl
	display flex
	flex-direction row
	justify-content flex-start
	align-items flex-start

.flex-row-tc
	display flex
	flex-direction row
	justify-content center
	align-items flex-start

.flex-row-tr
	display flex
	flex-direction row
	justify-content flex-end
	align-items flex-start

.flex-row-cl
	display flex
	flex-direction row
	justify-content flex-start
	align-items center

.flex-row-cc
	display flex
	flex-direction row
	justify-content center
	align-items center

.flex-row-cr
	display flex
	flex-direction row
	justify-content flex-end
	align-items center

.flex-row-bl
	display flex
	flex-direction row
	justify-content flex-start
	align-items flex-end

.flex-row-bc
	display flex
	flex-direction row
	justify-content center
	align-items flex-end

.flex-row-br
	display flex
	flex-direction row
	justify-content flex-end
	align-items flex-end