.h-full
	height 100%

.w-full
	width 100%

.cover
	height 100%
	width 100%

.box
	box-sizing border-box

.ptr
	cursor pointer

.br-round
	border-radius 4px

.br-circle
	border-radius 50%

.shdw-xs
	box-shadow 0 1px 2px 0 rgba(21, 21, 21, 0.25)

.shdw-sm
	box-shadow 0 0 4px 0 rgba(21, 21, 21, 0.25)

.shdw-md
	box-shadow 0 0 16px 0 rgba(21, 21, 21, 0.25)

.shdw-lg
	box-shadow 0 0 24px 0 rgba(21, 21, 21, 0.25)

.shdw-xl
	box-shadow 0 0 48px 0 rgba(21, 21, 21, 0.25)

.brdr-xthn
	border 0.5px solid

.brdr-thn
	border 1px solid

.brdr-thk
	border 3px solid

.brdr-xthk
	border 6px solid

.z0
	z-index 0

.z1
	z-index 1

.z2
	z-index 2

.z3
	z-index 3

.z4
	z-index 4

.z5
	z-index 5

.z6
	z-index 6

.z7
	z-index 7

.z8
	z-index 8

.z9
	z-index 9

.z10
	z-index 10

.wrap-lf
	height 100%
	float left

.wrap-rt
	height 100%
	float right

.no-select
	user-select none