.icon-xs
	height 12px

.icon-sm
	height 16px

.icon-md
	height 24px

.icon-lg
	height 32px

.icon-xl
	height 48px

.logo-xs
	height 64px

.logo-sm
	height 80px

.logo-md
	height 96px

.logo-lg
	height 128px

.logo-xl
	height 144px