html, body
	height 100vh

#toolbox
	background lightgrey 
	width 48px
	justify-content space-between

.toolbox-tool
	height 48px
	width 48px

.toolbox-tool-icon
	height 20px
	width 20px
	background grey

#properties
	width 250px
	background grey

#workspace
	flex-grow 1
	background #222222

#canvas
	flex-grow 1

#slide
	height 540px
	width 960px
	background white

#sequence
	background rgba(0, 0, 0, 0.25);
	height 96px

.sequence-slide
	height 100%
	width 144px

.sequence-slide-icon
	height 54px	// 9 by
	width 96px	// 16
	background white

.sequence-slide-transition
	height 100%

.sequence-slide-transition-icon
	height 6px
	width 6px
	background white
	