shiftX()
	left 50%
	margin-right -50%
	transform translateX(-50%)

shiftY()
	top 50%
	transform translateY(-50%)

shiftXY()
	top 50%
	left 50%
	margin-right -50%
	transform translate(-50%, -50%)

// RELATIVE POSITIONING
.rel
	position relative

// ABSOLUTE POSITIONING
.abs
	position absolute

.abs-t
	position absolute
	top 0

.abs-r
	position absolute
	right 0

.abs-b
	position absolute
	bottom 0

.abs-l
	position absolute
	left 0

.abs-tl
	position absolute
	top 0
	left 0

.abs-tc
	position absolute
	top 0
	shiftX()

.abs-tr
	position absolute
	top 0
	right 0

.abs-cl
	position absolute
	left 0
	shiftY()

.abs-cc
	position absolute
	shiftXY()

.abs-cr
	position absolute
	right 0
	shiftY()

.abs-bl
	position absolute
	bottom 0
	left 0

.abs-bc
	position absolute	
	bottom 0
	shiftX()

.abs-br
	position absolute
	bottom 0
	right 0

// FIXED POSITIONING
.fix
	position fixed

.fix-t
	position fixed
	top 0

.fix-r
	position fixed
	right 0

.fix-b
	position fixed
	bottom 0

.fix-l
	position fixed
	left 0

.fix-tl
	position fixed
	top 0
	left 0

.fix-tc
	position fixed
	top 0
	shiftX()

.fix-tr
	position fixed
	top 0
	right 0

.fix-cl
	position fixed
	left 0
	shiftY()

.fix-cc
	position fixed
	shiftXY()

.fix-cr
	position fixed
	right 0
	shiftY()

.fix-bl
	position fixed
	bottom 0
	left 0

.fix-bc
	position fixed	
	bottom 0
	shiftX()

.fix-br
	position fixed
	bottom 0
	right 0