@font-face 
	font-family 'Heading'
	src url('../rsc/Freestyle-Script-Regular.ttf')

@font-face
	font-family 'Body'
	src url('../rsc/Work-Sans-Regular.ttf')

// HEADING TEXT 1
.h1
	font-size 144px
	font-family 'Heading'
	line-height 144px

@media only screen and (max-width 720px)
	.h1
		font-size 108px
		line-height 108px

// HEADING TEXT 2
.h2
	font-size 108px
	font-family 'Heading'
	line-height 108px

@media only screen and (max-width 720px)
	.h2
		font-size 88px
		line-height 88px

// HEADING TEXT 3
.h3
	font-size 88px
	font-family 'Heading'
	line-height 88px

@media only screen and (max-width 720px)
	.h3
		font-size 72px
		line-height 72px

// HEADING TEXT 4
.h4
	font-size 72px
	font-family 'Heading'
	line-height 72px

@media only screen and (max-width 720px)
	.h4
		font-size 48px
		line-height 48px

// HEADING TEXT 5
.h5
	font-size 48px
	font-family 'Heading'
	line-height 48px

@media only screen and (max-width 720px)
	.h5
		font-size 32px
		line-height 32px

// HEADING TEXT 6
.h6
	font-size 32px
	font-family 'Heading'
	line-height 32px

@media only screen and (max-width 720px)
	.h6
		font-size 32px
		line-height 32px

// BODY TEXT 1
.b1
	font-size 48px
	font-family 'Body'
	line-height 64px

@media only screen and (max-width 720px)
	.b1
		font-size 32px
		line-height 48px

// BODY TEXT 2
.b2
	font-size 32px
	font-family 'Body'
	line-height 48px

@media only screen and (max-width 720px)
	.b2
		font-size 24px
		line-height 36px

// BODY TEXT 3
.b3
	font-size 24px
	font-family 'Body'
	line-height 36px

@media only screen and (max-width 720px)
	.b3
		font-size 18px
		line-height 28px

// BODY TEXT 4
.b4
	font-size 18px
	font-family 'Body'
	line-height 28px

@media only screen and (max-width 720px)
	.b4
		font-size 16px
		line-height 24px

// BODY TEXT 5
.b5
	font-size 16px
	font-family 'Body'
	line-height 24px

@media only screen and (max-width 720px)
	.b5
		font-size 12px
		line-height 18px

// BODY TEXT 6
.b6
	font-size 12px
	font-family 'Body'
	line-height 18px

@media only screen and (max-width 720px)
	.b6
		font-size 12px
		line-height 18px

.txt-thk
	font-weight 900

.txt-bld
	font-weight 700

.txt-std
	font-weight 400

.txt-nrw
	font-weight 300

.txt-thn
	font-weight 200

.txt-c
	text-align center

.txt-j
	text-align justify

.txt-l
	text-align left

.txt-r
	text-align right