$primary = #55C9BE
$secondary = #0093E9
$white = #FFF
$light = #FAFAFA
$medium = #777
$dark = #7B7E80
$black = #000

// PRIMARY THEME
.thm-pr
	background $primary
	color $white
	border-color transparent

.thm-pr a, .thm-pr a:link, .thm-pr a:visited, .thm-pr a:hover, .thm-pr a:active
	color $white

.thm-pr-i
	background $white
	color $primary
	border-color $primary

.thm-pr-i a, .thm-pr-i a:link, .thm-pr-i a:visited, .thm-pr-i a:hover, .thm-pr-i a:active
	color $primary

.thm-pr-c
	background transparent
	color $primary
	border-color $primary

.thm-pr-c a, .thm-pr-c a:link, .thm-pr-c a:visited, .thm-pr-c a:hover, .thm-pr-c a:active
	color $primary

// SECONDARY THEME
.thm-sc
	background $secondary
	color $white

.thm-sc a, .thm-sc a:link, .thm-sc a:visited, .thm-sc a:hover, .thm-sc a:active
	color $white

.thm-sc-i
	background $white
	color $secondary
	border-color $secondary

.thm-sc-i a, .thm-sc-i a:link, .thm-sc-i a:visited, .thm-sc-i a:hover, .thm-sc-i a:active
	color $secondary

.thm-sc-c
	background transparent
	color $secondary
	border-color $secondary

.thm-sc-c a, .thm-sc-c a:link, .thm-sc-c a:visited, .thm-sc-c a:hover, .thm-sc-c a:active
	color $secondary

// WHITE THEME
.thm-wt
	background $white
	color $dark

.thm-wt a, .thm-wt a:link, .thm-wt a:visited, .thm-wt a:hover, .thm-wt a:active
	color $dark

.thm-wt-i
	background $dark
	color $white
	border-color $white

.thm-wt-i a, .thm-wt-i a:link, .thm-wt-i a:visited, .thm-wt-i a:hover, .thm-wt-i a:active
	color $white

.thm-wt-c
	background transparent
	color $white
	border-color $white

.thm-wt-c a, .thm-wt-c a:link, .thm-wt-c a:visited, .thm-wt-c a:hover, .thm-wt-c a:active
	color $white

// LIGHT THEME
.thm-lt
	background $light
	color $dark

.thm-lt a, .thm-lt a:link, .thm-lt a:visited, .thm-lt a:hover, .thm-lt a:active
	color $dark

.thm-lt-i
	background $dark
	color $light
	border-color $light

.thm-lt-i a, .thm-lt-i a:link, .thm-lt-i a:visited, .thm-lt-i a:hover, .thm-lt-i a:active
	color $light

.thm-lt-c
	background transparent
	color $light
	border-color $light

.thm-lt-c a, .thm-lt-c a:link, .thm-lt-c a:visited, .thm-lt-c a:hover, .thm-lt-c a:active
	color $light

// MEDIUM THEME
.thm-md
	background $medium
	color $dark

.thm-md a, .thm-md a:link, .thm-md a:visited, .thm-md a:hover, .thm-md a:active
	color $dark

.thm-md-i
	background $dark
	color $medium
	border-color $medium

.thm-md-i a, .thm-md-i a:link, .thm-md-i a:visited, .thm-md-i a:hover, .thm-md-i a:active
	color $medium

.thm-md-c
	background transparent
	color $medium
	border-color $medium

.thm-md-c a, .thm-md-c a:link, .thm-md-c a:visited, .thm-md-c a:hover, .thm-md-c a:active
	color $medium

// DARK THEME
.thm-dk
	background $dark
	color $white

.thm-dk a, .thm-dk a:link, .thm-dk a:visited, .thm-dk a:hover, .thm-dk a:active
	color $white

.thm-dk-i
	background $white
	color $dark
	border-color $dark

.thm-dk-i a, .thm-dk-i a:link, .thm-dk-i a:visited, .thm-dk-i a:hover, .thm-dk-i a:active
	color $dark

.thm-dk-c
	background transparent
	color $dark
	border-color $dark

.thm-dk-c a, .thm-dk-c a:link, .thm-dk-c a:visited, .thm-dk-c a:hover, .thm-dk-c a:active
	color $dark